.index{
  padding: 40px;
  .item{
    width: 100%;
    height: 160px;
    padding: 10px;
    background: #6ec7e9;
    border-radius: 6px;
    line-height: 140px;
    Text{
      font-size: 64px;
      color:#fff;
    }
  }
}

